.git
.github
.gitignore
*.pyc
__pycache__
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.venv
venv
env
ENV
.DS_Store
*.md
data/*.csv
!data/dormitory_users.json
congestion.py
mockdata.py
notice.py
prediction.py
result_json.py
dorm_notices.json
